.rect {
  margin-top: 12px;
}

.axis2 {
  font-weight: bolder;
  color: rgb(26, 23, 23);
}
#gantt {
  background-color: rgb(238, 230, 230);
  padding: 2rem;
  overflow-x: scroll;
  overflow-y: scroll;
}
.tasks {
  font-weight: bold;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  font: 14px sans-serif;
  background-color: rgb(155, 255, 221);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
