.rect {
  margin-top: 12px;
}

.axis2 {
  font-weight: bolder;
  color: rgb(26, 23, 23);
}
#gantt {
  background-color: rgb(238, 230, 230);
  padding: 2rem;
  overflow-x: scroll;
}
.tasks {
  font-weight: bold;
}
